{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}

    {{ include('message/new.html.twig', {'button_label': 'Update'}) }}

    <form method="post" action="{{ path('message_delete', {'id':message.id,'topicid': topicid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-dark">Delete</button>
    </form>
    
{% endblock %}
