{% extends 'base.html.twig' %}

{% block title %}Shopping{% endblock %}
{# Bootstrap navbar  #}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('message_new', {'topicid': topicid}) }}">Nouveau Message</a>
      </li>
      <li class="nav-item">
      <a href="{{ path('topic_index') }}" class="nav-link">Liste des Topics</a>
      </li>
    </ul>
  </div>
</nav>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>author</th>
                <th>message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.author }}</td>
                <td>{{ message.message }}</td>
                <td>
                    <a href="{{ path('message_show', {'id': message.id,'topicid': topicid}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('message_edit', {'id': message.id,'topicid': topicid}) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
