{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('message_index', {'topicid': topicid}) }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('message_new', {'topicid': topicid}) }}">Creer</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>author</th>
                <th>Prix</th> 
                <th>message</th>              
            </tr>
            <tr>
                 <td>{{ message.id }}</td>
                <td>{{ message.author }}</td>
                 <td>{{ message.message }}</td>
                 <td>
                 <a href="{{ path('message_edit', {'id': message.id,'topicid': topicid}) }}" class="btn btn-info">edit</a>
                    <form method="post" action="{{ path('message_delete', {'id': message.id,'topicid': topicid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                    <button class="btn btn-dark">Delete</button>
                    </form>
                 </td>
            </tr>
        </tbody>
    </table>    
{% endblock %}
