{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('article_index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    <a href="{{ path('article_index') }}" class="btn btn-danger">Cancel</a>
{{ form_end(form) }}
{% endblock %}
